@font-face {
    font-family: 'enduronarrow-regular';
        src: 
            url('fonts/enduronarrowweb-regular-TRIAL.eot?#iefix') format('embedded-opentype'),
            url('fonts/enduronarrowweb-regular-TRIAL.woff') format('woff');
    }

* {
    box-sizing: border-box;
}
canvas {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: (var(--vh)*100);
      top: 0;
      left: 0;
      
    }
    #pattern{
       visibility: hidden;
       z-index: -999;
    }
   #buffer{
       visibility: hidden;
       z-index: -999;
    }
    
    
    
body,
html {
   // -webkit-font-smoothing: antialiased;
   // -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
width: 100%;
height: (var(--vh)*100);
font-family: 'enduronarrow-regular', 'Arial Narrow', sans-serif;
overflow: hidden;
    overscroll-behavior-y: contain;
    font-size: 16px;
}

#header{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background:#292929;
    color: white;
    border-radius:2rem;
    padding:2rem;
    //left:50%;
    right:1rem;
    z-index: 10;
    top:1rem;
    height: calc((var(--vh)*100) - 2rem);
flex-flow: column;
width: calc(16px + 4rem);
line-height: 1;
//transform: translateX(-50%);
    
}

#header div{
   
   writing-mode: vertical-rl;
   // padding:1rem;
}
@media (max-height : 960px) {
  #header{
    width: calc(16px + 2rem);
    padding: 1rem;
  }
}
@media (orientation: landscape) and (max-height : 960px) {
  #header{
    flex-flow: row;
    height: auto;
    width: calc(100% - 2rem);
    padding: 1rem;
    //top:unset;
    //bottom:1rem;
  }
  #header div{
    writing-mode: lr;
  }
}

#pane{
    position: absolute;
    color:#292929;
    background: white;
    border-radius:2rem;
    padding:2rem;
    left:1rem;
    z-index: 10;
    top:1rem;
}
#pane p{
    margin: 0;
}